<div class="device">
    <div class="screen">
        <div>
            <div class="page" data-jquery-page-name="1">
                <div class="main">
                    <div class="logo"></div>
                    <div class="textcont">
                        <span class="f text1">People always enhance their vision and make changes happen in their life. We believe, we can give a fantastic and secured experience that makes our client's entire system a class apart. We are a group of passionate people determined to change our client's lives to a higher level.</span><br />
                        <a href="#" class="f text4 class1 navigate" data-page-name="2" data-page-trans="slide-in-from-bottom" tabindex="1">CONTACT INFO</a>
                    </div>
                    <div class="box"> 
                        <span class="f">
                            <a href="#" class="text2 navigate" data-page-name="3" data-page-trans="slide-in-from-right">BRANDING STUDIO</a>
                        </span><br />
                        <span class="f"><a href="#" class="text2 navigate" data-page-name="4" data-page-trans="slide-in-from-right">UX STUDIO</a><br />        
                        </span> 
                        <span class="f"><a href="#" class="text2 navigate" data-page-name="5" data-page-trans="slide-in-from-right">DEVELOPMENT    CENTER</a><br />
                        </span> 
                    </div>
                </div>
                <div class="image"></div>
                <div style="clear:both;"></div>
            </div>  
            <div class="page" data-jquery-page-name="2">
                <div class="toparea">
                    <div class="topareacl01 navigate" data-page-name="1" data-page-trans="slide-in-from-top">HOME</div>
                </div>
                <div class="main_contact">
                    <div class="contactlogo"></div>
                    <div class="textcont2">
                        <span class="f text5">+1.713.737.5036 (US)</span><br />
                        <span class="f text5">+91 974 462 3686 (India)</span><br />
                        <span class="f text5">info@ldimensions.com</span><br />
                        <span class="f text6">US</span><br />
                        <span class="f text5">7490, Brompton Road Houston, TX 77025</span><br />
                        <span class="f text6">India</span><br />
                        <span class="f text5">S1 S1 K.B. Park, Venobaji Road,<br />Cochin -24, Kerala</span><br />
                    </div>
                    <div class="box1">
                        <form name="contact" action="" method="post">
                            <div class="text6">Send a message</div>
                            <input name="name" id="name" type="text" placeholder="Name" required style="margin-top:20px;">
                            <input name="email" type="email" id="email" placeholder="Email" required >
                            <input name="phone" type="text" id="phone" placeholder="Phone" required >
                            <textarea name="message"  placeholder="Message" id="message" required ></textarea>
                            <button class="btn-sbmt1" type="button" name="submit" id="submit" >&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
                            <button class="navigate btn-sbmt2"  type="button"  name="Reset">&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="page" data-jquery-page-name="3">
                <div class="toparea">
                    <div class="topareacl02 navigate" data-page-name="1" data-page-trans="slide-in-from-left"></div>
                    <div class="topareacl04 extrawidth1 navigate" data-page-name="4" data-page-trans="slide-in-from-right">UX STUDIO</div>
                </div>
                <div class="main_branding">
                    <div class="textcont r">
                        <span class="text8">BRANDING STUDIO</span><br />
                        <span class="f text7"><p>Our design patterns are creative and innovative. Our works motivates millions of world audience. We at L-dimensions believe that a brand portrays your company's feelings and vision. So we have an unique style of a perfect branding that emotionally bonds with the people encouraging them to visit again and again.</p>
                        <p>A company will be identified by its brand. Hence we take utmost care in creating a unique and perfect brand through research and strategic planning, we make the best design to bring identity of your brand to life and it will touch your customers.</p></span>
                        <span class="f" style="color:#828282;"> Brand Identity, Brand Stationaries,<br />Marketing Collaterals, Brochures & Leaflets, Magazine & Book Design, Posters & T-shirts, Packaging design, Signage</span>
                    </div>
                    <div class="box2">
                        <div class="portfoliotile"><img src="assets/images/Image1.png" class="c1"><img src="assets/images/Image1Hover.png" class="c2"></div>
                        <div class="portfoliotile"><img src="assets/images/Image2.png" class="c1"><img src="assets/images/Image2Hover.png" class="c2"></div>
                        <div class="portfoliotile"><img src="assets/images/Image3.png" class="c1"><img src="assets/images/Image3Hover.png" class="c2"></div>
                        <div class="portfoliotile"><img src="assets/images/Image4.png" class="c1"><img src="assets/images/Image4Hover.png" class="c2"></div>
                    </div>
                </div>
            </div>
            <div class="page" data-jquery-page-name="4">
                <div class="toparea">
                    <div class="topareacl02 navigate" data-page-name="1" data-page-trans="slide-in-from-left"></div>
                    <div class="topareacl04 extrawidth navigate" data-page-name="5" data-page-trans="slide-in-from-right">DEVELOPMENT CENTER</div>
                </div>                
                <div class="main_branding">                        
                    <div class="textcont r">
                        <span class="text8">UX STUDIO</span><br />
                        <span class="f text7">
                        We consider all the phases of a product before going for design - functionality, usability and user experience while using it. In most cases,  "First impression is the best impression". So when the user comes across the product for the first time, the user forms a momentary impression. Our product should influence the user's perception and action which integrate to form 'user experience'. We constantly research and refine your requirements to come up a visual treat to our users. We give usability experience foremost importance and as a result, you will have a mesmerizing experience.
                        </span>
                    </div>
                    <div class="box2">                        
                        <div class="portfoliotile1"><img src="assets/images/UXImage1.png" class="c1"><img src="assets/images/UXImage1Hover.png" class="c2"></div>
                        <div class="portfoliotile1"><img src="assets/images/UXImage2.png" class="c1"><img src="assets/images/UXImage2Hover.png" class="c2"></div>
                    </div>
                </div>
            </div>
            <div class="page" data-jquery-page-name="5">          
                <div class="toparea">
                    <div class="topareacl02 navigate" data-page-name="1" data-page-trans="slide-in-from-left"></div>
                        <div class="topareacl05 navigate" data-page-name="1" data-page-trans="slide-in-from-right"></div>
                </div>
                <div class="main_branding">                        
                    <div class="textcont r">
                        <span class="text8">DEVELOPMENT CENTER</span><br />
                        <span class="f text7">Coming soon</span>
                    </div>
                    <div class="box2"></div>                
                </div>
            </div>
        </div>
    </div>
</div>